Repository veganstraightedge/hypertextql, changes with the labels that .github/labeler.yml gives for each.
All labels: changelog, ci, code_of_conduct, dev, gem_dependencies, gem_ownership, rake, readme, rubocop, ruby_version, specification, tests

.github/labeler.yml:

changelog:
  - changed-files:
    - any-glob-to-any-file:
      - CHANGELOG.md

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**/*

code_of_conduct:
  - changed-files:
    - any-glob-to-any-file:
      - CODE_OF_CONDUCT.md

dev:
  - changed-files:
    - any-glob-to-any-file:
      - bin/**/*

gem_dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - Gemfile
      - Gemfile.lock
      - hypertextql.gemspec

gem_ownership:
  - changed-files:
    - any-glob-to-any-file:
      - CODEOWNERS
      - sig/**/*

rake:
  - changed-files:
    - any-glob-to-any-file:
      - Rakefile

readme:
  - changed-files:
    - any-glob-to-any-file:
      - README.md

rubocop:
  - changed-files:
    - any-glob-to-any-file:
      - .rubocop.yml
      - .rubocop_todo.yml

ruby_version:
  - changed-files:
    - any-glob-to-any-file:
      - .ruby-version

specification:
  - changed-files:
    - any-glob-to-any-file:
      - specification/**/*

tests:
  - changed-files:
    - any-glob-to-any-file:
      - spec/**/*

Add Ruby Version: 3.4.5gst
  .ruby-version
  hypertextql.gemspec
Labels: gem_dependencies, ruby_version

Add missing fasterer gem
  Gemfile
  Gemfile.lock
  hypertextql.gemspec
Labels: gem_dependencies

Go back to Ruby 3.4.5
  hypertextql.gemspec
Labels: gem_dependencies

Add Linux platform, for CI in GitHub Actions
  Gemfile.lock
Labels: gem_dependencies

Increase minimum versions of gem deps
  Gemfile
  Gemfile.lock
Labels: gem_dependencies

Add example database: blog
  specification/database.md
Labels: specification

Add example blog db tables: users, posts
  specification/examples/blog/index.html
  specification/examples/blog/posts.html
  specification/examples/blog/users.html
  specification/table.md
Labels: specification

Fix @id= typo to id=
  specification/style_guide.md
  specification/table.md
Labels: specification
